<div class="list" cdkDropList [cdkDropListData]="list.applicants" (cdkDropListDropped)="drop($event)" [ngClass]="list.disabled ? 'disabled' : ''">
  <div class="list-header" [ngStyle]="{'background': list.color}">
      <span class="list-header-name">{{list.name}}</span>
      <span class="list-header-counter">({{list.applicants.length}})</span>
      <svg class="list-header-menu-button" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path class="list-header-menu-button-bg" d="M0 0h24v24H0z" fill="none" />
          <path class="list-header-menu-button-icon" d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
      </svg>
  </div>

  <div class="list-content">
      <app-card class="card" [ngStyle]="{'background': list.color}" *ngFor="let applicant of list.applicants" cdkDrag [applicant]="applicant" [cdkDragDisabled]="list.disabled" ></app-card>
  </div>
</div>